body {
    font-family: Arial, Helvetica, sans-serif
}

table{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-Senif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
caption{
    font-size: 40px;
}
th{
    font-size: 13px;
    font-weight: normal;
    padding: 5px;
    background: #333b55;    
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
}
td{
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}
tr:hover td{
    background: #d0dafd;
    color:#339;
}