body{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(125deg,#6a89cc,#b8e994);
    align-items: center;
  }
  table{ 
    align-content: center;
    font-size: 12px;
    margin: 250px;
    padding: 250px;
    text-align: center;
    border-collapse: collapse;
}
th{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039
}
td{
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}
tr:hover td{
    background: #d0dafd;
    color:#339;
}